{% extends 'base.html'%}
{% block head_content %}
<title>Home</title>
{% endblock %}
{% load static%}
{% block content %}

<div class=" container text-xs-center" style="height: 50%; text-align: center;">
  <h1 class="display-3">Compusur Commerce</h1>
  <div class="container" style="margin-top:20px;">
  <h4>Tenemos los mejores productos del mercado al mejor precio </h2>
    <div class="options-home">
    {% if request.user.is_authenticated %}
    <div class="container">
     <a href="{% url 'home_product'%}" class="btn btn-primary">Productos</a>
    </div>
    {% else %}
    <div class="container">
     Eres nuev@? <a href="{% url 'signup'%}" >Registrate</a>
     <br>
     Ya tienes cuenta? <a href="{% url 'login' %}">Inicia Sesion</a>
    </div>
    {% endif %}
    </div>
    <section>
      <a href="#" class="fas fa-angle-down down"></a>
    </section>
  </div>
</div>
{% endblock %}
{% block information %}
<section>
<div class="">
  <div class="">
    Facilidad en tu compra
  </div>
  <div class="">
    La mejor ecommerce del pais
  </div>
  <div class="">
    entrega segura a la puerta de tu casa

  </div>
</div>
</section>

{% endblock %}
